{{!< default}}

<div role="main" class="main">
	{{#foreach posts}}
		<article>			
			<h1>
				{{title}}
			</h1>
			
			{{content words="100" }}
			<a href="{{{url}}}" title="{{title}}" class="read-more">Read more</a>

			<div class="byline">
				<time class="date">
					{{date format='dddd DD MMM YYYY'}}
				</time>
				{{#if tags}}
					<div class="tags">
						{{tags separator=" " }}
					</div>
				{{/if}}
			</div>
			
		</article>
	{{/foreach}}
</div>